h1 {
    font-size: 120px;
    color: #FFFFFF;
    text-align: center;
}
h2 {
    font-size: 30px;
    color: black;
    text-align: center;
}
h3 {
    font-size: 30px;
    color: black;
    text-align: center;
}
a{
    list-style-type: none;
    background-color: #D0CDEF;
    color: black;
    font-size: 50px;
    width: 180px;
    border-radius: 20px;
    text-align: center;
    margin-right: 1cm;
}
.button {
    text-align: center;
}
html {
    background-image: url(1.png);background-size: cover;
}